{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<main role="main" class="container mt-4">
    <div class="jumbotron">
        <h1>Calculate the minimum number of standard UK denomination coins needed to equal that amount</h1>
        <p class="lead mt-4">UK coins: £2, £1, 50p, 20p, 2p and 1p coins.</p>

        {{ form_start(coinCalculatorForm) }}
            <div class="my-custom-class-for-errors">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </div>

            <div class="row mt-4">
                <div class="col">
                    {{ form_label(coinCalculatorForm.amountInput) }}
                    {{ form_widget(coinCalculatorForm.amountInput) }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    {{ form_widget(coinCalculatorForm.submit) }}
                </div>
            </div>

            <table class="table caption-top mt-4">
                <thead>
                    <tr>
                    <th scope="col">2 Pound</th>
                    <th scope="col">1 Pound</th>
                    <th scope="col">50 Pences</th>
                    <th scope="col">20 Pences</th>
                    <th scope="col">2 Pences</th>
                    <th scope="col">1 Pences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ coinCalculatorForm.vars.value.twoPounds }}</td>
                        <td>{{ coinCalculatorForm.vars.value.onePounds }}</td>
                        <td>{{ coinCalculatorForm.vars.value.fiftyPences }}</td>
                        <td>{{ coinCalculatorForm.vars.value.twentyPences }}</td>
                        <td>{{ coinCalculatorForm.vars.value.twoPences }}</td>
                        <td>{{ coinCalculatorForm.vars.value.onePences }}</td>
                    </tr>
                </tbody>
                </table>
        {{ form_end(coinCalculatorForm) }}
    </div>
</main>
{% endblock %}
