{% extends 'adminPanel/adminBase.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}
{% block menuTitle %}{{ page_name }}{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            document
            .querySelectorAll('.add_item_link_appliances_products')
            .forEach(btn => {
                btn.addEventListener("click", addFormToAppliancesProducts)
            });

            document
            .querySelectorAll('.collection-form-appliances_products')
            .forEach((AppliancesProductsRemove) => {
                addDeleteLinkAppliancesProducts(AppliancesProductsRemove)
            })
        });

        const addFormToAppliancesProducts = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');
            item.style.marginTop = "12px";

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );

            //Add remove button
            addDeleteLinkAppliancesProducts(item);

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };
        
        const addDeleteLinkAppliancesProducts= (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete';
            removeFormButton.className = "button error";
            removeFormButton.style.float = "right";
            removeFormButton.style.marginLeft = "10px";

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }
    </script>
{% endblock %}

{% block body %}
    <!-- Display entity error in alert boxes -->
    {% include 'adminPanel/templates/components/componentAlertBox.html.twig' with {'errors': errors, 'form': form} %}

    <div class="panel">
        <div class="heading">Appliance Manage</div>

        <div class="body">
            {{ form_start(form, {'attr': {'class': 'form-template'}}) }}
                <fieldset>
                    <ul>
                        <li>
                            {{ form_label(form.id) }}
                            {{ form_widget(form.id) }}
                        </li>
                        <li>
                            {{ form_label(form.parentId) }}
                            {{ form_widget(form.parentId) }}
                        </li>
                        <li>
                            {{ form_label(form.brand) }}
                            {{ form_widget(form.brand) }}
                        </li>
                        <li>
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}
                        </li>
                    </ul>
                </fieldset>

                <fieldset>
                    <ul>
                        <li>
                            {{ form_label(form.sku) }}
                            {{ form_widget(form.sku) }}
                        </li>
                        <li>
                            {{ form_label(form.gasCouncilNumber) }}
                            {{ form_widget(form.gasCouncilNumber) }}
                        </li>
                        <li>
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </li>
                        <li>
                            {{ form_label(form.slug) }}
                            {{ form_widget(form.slug) }}
                        </li>
                        <li>
                            {{ form_label(form.urlLock) }}
                            {{ form_widget(form.urlLock) }}
                        </li>
                        <li>
                            {{ form_label(form.searchKeywords) }}
                            {{ form_widget(form.searchKeywords) }}
                        </li>
                        <li>
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                        </li>
                        <li>
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                        </li>
                        <li>
                            {{ form_label(form.heading) }}
                            {{ form_widget(form.heading) }}
                        </li>
                        <li>
                            {{ form_label(form.body) }}
                            {{ form_widget(form.body) }}
                        </li>
                    </ul>
                </fieldset>

                <fieldset>
                    <ul>
                        <li>
                            <label>Appliance Products</label>
                            {% for applianceProduct in form.applianceProducts %}
                                <div class="collection-form-appliances_products" style="clear:left; display:inline-block; float:left; margin-top:12px;">
                                    {{ form_widget(applianceProduct.reference) }}
                                    {{ form_widget(applianceProduct.sequence) }}
                                    {{ form_widget(applianceProduct.product) }}
                                    &nbsp
                                    {{ form_label(applianceProduct.isReplacement) }}
                                    {{ form_widget(applianceProduct.isReplacement) }}
                                </div>
                            {% endfor %}
                        </li>

                        <li style="margin-top:0px;">
                            <label>&nbsp;</label>
                            <div
                            class="appliancesProducts"
                            style=style="clear:left; display:inline-block; float:left;"
                            data-index="{{ form.applianceProducts|length > 0 ? form.applianceProducts|length + 1 : 0 }}"
                            data-prototype="
                                {{ form_widget(form.applianceProducts.vars.prototype.reference, {'value' : '-'})|e }}
                                {{ form_widget(form.applianceProducts.vars.prototype.sequence, {'value' : 0})|e }}
                                {{ form_widget(form.applianceProducts.vars.prototype.product)|e }}
                                &nbsp
                                {{ form_label(form.applianceProducts.vars.prototype.isReplacement)|e }}
                                <div class='switch'>
                                    {{ form_widget(form.applianceProducts.vars.prototype.isReplacement)|e }}
                                    <span></span>
                                </div>
                            "
                            >
                            </div>
                        <li>

                        <li>
                            <label>&nbsp;</label>
                            <button type="button" class="add_item_link_appliances_products button info" data-collection-holder-class="appliancesProducts">Add a Appliances Product</button>
                        </li>
                    </ul>
                </fieldset>

                <fieldset>
                    <ul>
                        <li>
                            {{ form_label(form.createdAt) }}
                            {{ form_widget(form.createdAt) }}
                        </li>
                        <li>
                            {{ form_label(form.updatedAt) }}
                            {{ form_widget(form.updatedAt) }}
                        </li>
                        <li>
                            {{ form_label(form.activeAt) }}
                            {{ form_widget(form.activeAt) }}
                        </li>
                    </ul>
                </fieldset>

                <fieldset>
                    <ul>
                        <li>
                            <label>&nbsp;</label>
                            <input class="button success" data-clicked-text="Processing..." type="submit" value="Save">
                            <a class="button warning" href="/admin/appliances">Back to Appliances</a>
                        </li>
                    </ul>
                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
